<h1>Project-List</h1>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Sample List
  </a>
  {{#each idea as |thought|}}
  <a href="#" class="list-group-item list-group-item-action">{{thought}}
    <button type="button" class="btn btn-default btn-lg" {{action 'upPress'}}>
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </button>
  </a>
  {{/each}}
</div>
