@import "bootstrap";

.generate-area {
    display: flex;
    flex-direction: column;
}

.options-area {
    display: flex;
    flex-direction: column;
}

.button-area {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    width: 50%;
    align-self: center;
    margin-top: auto;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 
}
  
  .navbar {
      background-color: black;
      width: 100%;
      left:0%;
      top:0%;
  }

  .project-description{
    font-size: 16px;
    letter-spacing: normal;
    display: block;
    color: black;

}

.project-reason{
    font-size: 14px;
}

.voteButtons{
    float: right;
    display: inline-flex;
}

.input-form {
    display: inline-flex;
    align-self: center;
    color: black;

}

.num-gen {
    display: inline-flex;
    align-self: center;
    font-size: 20px;
    padding-bottom: 1.5rem;
}