@import "bootstrap";

body {
  padding-top: 30px;
  background: linear-gradient(0deg, blue, white);
  max-height: 100%;
  background-repeat: no-repeat;
}

.main-box-container {
    height: 847px;
    max-height: 100%;
    //background-color: whitesmoke;
    background: linear-gradient(180deg, lightblue, white);
}

.main-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 7.5%;
}

.project-description{
    font-size: 16px;
    letter-spacing: normal;
    display: block;

}

.project-reason{
    font-size: 14px;

}

.voteButtons{
    float: right;
    display: inline-flex;
}
