
<head>
  <title>Project Generator</title>
  <link rel="stylesheet" href="/styles/app.css">
</head>

{{#stylish-button type="shikoba" border="thick" upperCase=true size="l" }}Generate{{/stylish-button}}

{{outlet}}
