
<head>
  <title>Project Generator</title>
  <link rel="stylesheet" href="/styles/app.css">
</head>
<button class="generate-button"  disabled={{isDisabled}} {{action 'buttonAction'}}>Button</button>

{{outlet}}
