<div class="main-box-container">
    <div class="main-button-container">
        {{#stylish-button type="wayra" border="thick" shape="round-l" action=(action 'generateProject')}}
            <div class="btn generate-button">
                Generate Project
            </div>
        {{/stylish-button}}
    </div>
</div>




{{outlet}}
