<h1>Project-List</h1> {{outlet}}

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Sample List
  </a>
  <a href="#" class="list-group-item list-group-item-action">Random Idea Generator
    <button type="button" class="btn btn-default btn-lg" {{action 'upPress'}}>
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </button>
  </a>
  <a href="#" class="list-group-item list-group-item-action">Cubic Schemes
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </button>
  </a>
  <a href="#" class="list-group-item list-group-item-action">Backwards compatible everything
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </button>
  </a>
  <a href="#" class="list-group-item list-group-item-action">Number 4
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </button>
  </a>
</div>

<!-- Generate a list -->
<!-- https://getbootstrap.com/docs/4.0/components/list-group/ -->


<!-- Get arrow buttons using glyphicons-->
<!--https://getbootstrap.com/docs/3.3/components/ -->
